/*메인화면(home) 화면 스타일 scss*/

.notice {
    padding-top: 20px;
    width: 72%;
    height: 60px;
    margin: 0 auto;
}

#gallery ul li {
    float: left;
    width: 280px;
}

#gallery ul li a {
    display: block;
}

#gallery ul li a span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 280px;
    height: 192px;
    border: 1px solid #dfdfdf;
}

#gallery ul li a p {
    width: 100%;
    font-size: 13px;
    color: #444;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul,
li {
    list-style: none;
}

#gallery {
    height: 178px;
}

#app {
    padding-top: 40px;
    //font-family: 'Black Han Sans', sans-serif;
    //font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 10px;
}

.title {
    height: 50px;
    line-height: 50px;
    background: skyblue;
    font-weight: bold;
}

p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}