@charset "euc-kr";
button::-moz-focus-inner{ padding: 0;border: 0}
.btnNormal, .btnNormal span, .btnBBig, .btnBBig span, .btnTiny, .btnTiny span,  .btnBig, .btnBig span, .btnCtrl, .btnCtrl span, .btnDate, .btnDate span, .btnGeneral, .btnGeneral span, .btnStrong, .btnStrong span, .btnNormalB, .btnNormalB span, .btnNormalS, .btnNormalS span, .btnSubmit, .btnSubmit span, .btnEm, .btnEm span, .btnSearch, .btnSearch span, .btnSmall, .btnSmall span {
    display:inline-block;
    position:relative;
    text-decoration:none;
    vertical-align:middle;
    white-space:nowrap;
	font-family:nGothicB, dotum, gulim;
	color:#fff;
	zoom:1;
	*display:inline;
	border-radius:2px;
}

.btnNormal span, .btnCtrl span, .btnDate span, .btnGeneral span, .btnStrong span, .btnSubmit span, .btnEm span, .btnSearch span {
    cursor:pointer;
    vertical-align:top;
}
a em, button em {display:inline-block; line-height:0; padding:0; zoom:1; *display:inline;}
a.btnStrong, a.btnSubmit {color:#fff; font-size:17px; font-family:nGothicB, dotum, gulim;}

.btnSubmit {background:#a0a0a0; text-align:center; font-size:13px;}
.btnSubmit span {padding:0px 30px 0px 30px; color:#fff; border:1px solid #7f7f7f; height:50px; line-height:50px; font-size:12px;}
.btnSubmit.purple span {background:#84308e; color:#fff; border:1px solid #84308e;}
.btnSubmit.cancel span {background:#fff; color:#000; border:1px solid #c3c3c3;}
/* .btnSubmit em.icoArrow {background:url(../img/common/arrow.png) no-repeat left center; vertical-align:top; *vertical-align:middle; margin:0 -20px 0 29px; width:6px; height:58px;} */
.btnSubmit.red {background:#e20e20;}
.btnSubmit.red span {background:#e20e20; color:#fff; border:1px solid #e20e20;}

.btnSmall {background:#333; text-align:center;}
.btnSmall span {padding:0px 14px 0px 14px; height:28px; line-height:27px;}
/* .btnSmall em.icoArrow {background:url(../img/common/arrow_s.png) no-repeat left center; vertical-align:top; margin:0 0 0 10px; width:4px; height:27px;} */
.btnSmall.gray {background:#7d7d7d;}
.btnSmall.red {background:#e20e20;}
.btnSmall.pink {background:#f15b64;}
.btnSmall.black {background:#5f6062;}
.btnSmall.cancel {background:#fff; border:1px solid #cccccc;}
.btnSmall.cancel span {padding:0px 14px 0px 14px; height:26px; line-height:25px; color:#333}
.btnSmall.cancel span.red {color:#ba2a2c}
/* .btnSmall em.icoDel {background:url(../img/common/del.png) no-repeat left center; vertical-align:top; *vertical-align:middle; margin:0 0px 0 10px; width:7px; height:28px;} */
.btnSmall span.two_row {padding:11px 20px; height:36px; line-height:18px;}

.btnTiny {background:#fff; border-bottom:1px solid #e9e9e9; font-size:12px;}
.btnTiny span {padding:0px 10px 0px 10px; text-align:center; border:1px solid #cccccc; height:21px; color:#333; line-height:18px;}
.btnTiny span.red {color:#e20e20;}
/* .btnTiny em.icoArrow {background:url(../img/common/arrow_s.png) no-repeat left center; vertical-align:top; margin:0 0 0 10px; width:4px; height:21px;} */
.btnTiny em.down {background:url(../img/common/ico_down.png) no-repeat left center; vertical-align:top; margin:0 10px 0 0px; width:10px; height:21px;}
.btnTiny em.del {background:url(../img/common/ico_del.png) no-repeat left center; vertical-align:top; margin:0 10px 0 0px; width:10px; height:21px;}
.btnTiny.gray {background:#777777; }
.btnTiny.gray span {border:1px solid #777777; height:21px; color:#333; line-height:20px; color:#fff;}




.btnNormal {min-width:90px; background:#454545;/*454545*/ text-align:center; font-size:14px;}
.btnNormal span {padding:0px 30px; height:42px; line-height:41px;}
.btnNormal span.ico_view {background:url(../img/common/ico_view.png) no-repeat 20px center; padding-left:50px;}

.btnNormal.black {background:#000;}
.btnNormal.purple {background:#84308e;}
.btnNormal.red {background:#ff5a5f;}
.btnNormal.cancel {background:#fff; border:1px solid #cfcfcf;}
.btnNormal.cancel span {color:#5f6062; height:40px;}
.btnNormal.gray {color:#fff; background:#999999;}
.btnNormal.dark {color:#fff; background:#454545;}
.btnNormal.blue {background:#5d7ab6;}
/* .btnNormal em.icoArrow {background:url(../img/common/arrow.png) no-repeat left center; vertical-align:top; *vertical-align:middle; margin:0 0px 0 10px; width:6px; height:42px;} */

.btnNormalB {min-width:90px; background:#464646; text-align:center; font-size:14px;}
.btnNormalB span {padding:0px 18px; height:34px; line-height:33px;}
.btnNormalB.purple {background:#84308e;}
.btnNormalB.cancel {background:#e5e5e5; border:1px solid #cfcfcf;}
.btnNormalB.cancel span {color:#5f6062; height:34px;}
/* .btnNormalB em.icoArrow {background:url(../img/common/arrow.png) no-repeat left center; vertical-align:top; *vertical-align:middle; margin:0 0px 0 10px; width:6px; height:34px;} */

.btnNormalS {background:#464646; text-align:center; font-size:13px;}
.btnNormalS span {padding:0px 15px; height:35px; line-height:33px;}
.btnNormalS.purple {background:#84308e;}
.btnNormalS.green {background:#7b9d35;}
.btnNormalS.cancel {background:#e5e5e5;}
.btnNormalS.gray {background:#7d7d7d;}
.btnNormalS.red {background:#ff5a5f;}
.btnNormalS.cancel span {padding:0px 14px 0px 14px; height:29px; border:1px solid #cfcfcf; line-height:28px; color:#333; background:#fff;}
/* .btnNormalS em.icoArrow {background:url(../img/common/arrow.png) no-repeat left center; vertical-align:top; *vertical-align:middle; margin:0 0px 0 10px; width:6px; height:28px;}
.btnNormalS em.icoDel {background:url(../img/common/del.png) no-repeat left center; vertical-align:top; *vertical-align:middle; margin:0 5px 0 0px; width:7px; height:28px;} */

.btnStrong span {background:#505c78; padding:0px 50px 0px 50px; height:60px; line-height:60px;}
.btnStrong.gray span {background:#5f6062;}
/* .btnStrong em.icoArrow {background:url(../img/common/arrow.png) no-repeat left top; margin:0 0 0 29px; width:6px;}
.icoDown {background:url(../img/common/download.png) no-repeat left top; margin:0 0 0 13px; height:20px; vertical-align:text-top; width:19px;} */


.btnGeneral {min-width:90px; text-align:center; font-size:13px; letter-spacing:-0.5px;}
.btnGeneral span {padding:0px 13px 0px 20px; height:26px; line-height:26px; border:1px solid #d6d8e0; color:#606060;}
/* .btnGeneral em.icoArrow {background:url(../img/common/arrow.png) no-repeat right center; vertical-align:top; margin:0 0 0 7px; width:5px; height:26px;} */

.btnBig {min-width:90px; background:#81308d; color:#fff; text-align:center; font-size:28px; line-height:100px; padding:0px 47px;}
.btnBBig {width:400px; background:#81308d; color:#fff; text-align:center; font-size:28px; line-height:100px; padding:0px;}
a.btnBBig, a.btnBig {color:#fff;}

.mobile_on .btnTiny span {padding:2px 10px 2px 10px; height:auto; white-space:normal;}

.mobile_on table th, .mobile_on table td {font-size:90% !important;}
.mobile_on table .btnTiny {font-size:0.95em;}


/* form btn */
button {padding:0px; border:none; cursor:pointer;}
input.btnNormal, input.btnBBig, input.btnTiny, input.btnBig, input.btnCtrl, input.btnDate, input.btnGeneral, input.btnStrong,  input.btnNormalB, input.btnNormalS, input.btnSubmit, input.btnEm, input.btnSearch, input.btnSmall {
	padding:0px;
	border:none;
	box-sizing:inherit;
	cursor:pointer;
}

input.btnSubmit {background:#e5e5e5; text-align:center; font-size:17px; min-width:138px; padding:0px 30px 0px 30px; color:#5f6062; border:1px solid #cfcfcf; height:58px; line-height:58px;}
input.btnSubmit.purple {background:#84308e; color:#fff; border:1px solid #84308e;}
input.btnSubmit.gray {background:#5f6062; color:#fff; border:1px solid #5f6062;}
input.btnSubmit.red  {background:#e20e20; color:#fff; border:1px solid #e20e20; color:#fff !important;}

input.btnSmall {background:#333; text-align:center;padding:0px 14px 0px 14px; height:28px; line-height:28px;}
input.btnSmall.gray {background:#7d7d7d;}
input.btnSmall.red {background:#e20e20; color:#fff !important;}
input.btnSmall.pink {background:#f15b64;}
input.btnSmall.black {background:#5f6062;}
input.btnSmall.cancel {background:#fff; border:1px solid #cccccc; padding:0px 14px 0px 14px; height:26px; line-height:26px; color:#333}
input.btnSmall.cancel.red {color:#ba2a2c}
input.btnSmall.two_row {padding:11px 20px; height:36px; line-height:18px;}

input.btnTiny {background:#fff; border-bottom:1px solid #e9e9e9; font-size:12px; padding:0px 10px 0px 10px; text-align:center; border:1px solid #cccccc; height:19px; color:#333; line-height:19px;}
input.btnTiny.red {color:#e20e20;}
input.btnTiny.gray {background:#777777; border:1px solid #777777; height:21px; color:#333; line-height:21px; color:#fff; border-bottom:1px solid #565656;}

input.btnNormal {min-width:auto; background:#ff5a5f;/*454545*/ text-align:center; font-size:14px; padding:0px 25px; height:42px; line-height:42px;}
input.btnNormal.black {background:#000; color:#fff !important;}
input.btnNormal.purple {background:#84308e;}
input.btnNormal.red {background:#ff5a5f;}
input.btnNormal.cancel {background:#fff; border:1px solid #cfcfcf;color:#5f6062; height:40px;}
input.btnNormal.gray {color:#fff; background:#999999;}
input.btnNormal.dark {color:#fff; background:#454545;}
input.btnNormal.blue {background:#5d7ab6; color:#fff !important;}

input.btnNormalB {min-width:auto; background:#464646; text-align:center; font-size:14px; padding:0px 18px; height:34px; line-height:33px;}
input.btnNormalB.purple {background:#84308e;}
input.btnNormalB.cancel {background:#e5e5e5; border:1px solid #cfcfcf; color:#5f6062; height:34px;}

input.btnNormalS {background:#464646; text-align:center; font-size:13px; padding:0px 15px; height:31px; line-height:30px;}
input.btnNormalS.purple {background:#84308e;}
input.btnNormalS.cancel {background:#e5e5e5;}
input.btnNormalS.gray {background:#7d7d7d;}
input.btnNormalS.red {background:#ff5a5f; color:#fff !important;}
input.btnNormalS.cancel {padding:0px 14px 0px 14px; height:29px; border:1px solid #cfcfcf; line-height:29px; color:#333; background:#fff;}
input.btnStrong {background:#84308e; font-size:17px; padding:0px 30px 0px 30px; height:60px; line-height:60px;}
input.btnStrong.gray {background:#5f6062;}

input.btnGeneral {min-width:auto; text-align:center; font-size:13px; letter-spacing:-0.5px; padding:0px 13px 0px 20px; height:26px; line-height:26px; border:1px solid #d6d8e0; color:#606060;}
input.btnBig {min-width:90px; background:#81308d; color:#fff; text-align:center; font-size:28px; line-height:100px; padding:0px 47px;}
input.btnBBig {width:400px; background:#81308d; color:#fff; text-align:center; font-size:28px; line-height:100px; padding:0px;}
a.btnBBig, a.btnBig {color:#fff;}

.file_input button {position:absolute; right:0px; top:0px; cursor:pointer; display:inline-block; overflow:hidden; width:80px; height:31px; background:#7d7d7d; color: #fff; text-align:center; line-height:30px; font-family:nGothic;}
.file_input .label_input {position:absolute; width:0; height:0; overflow:hidden; padding:0px; border:none;}