@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------
 * Name      : web_layout.css    
 * Desc      : page layout 
 * Created   : 
 * Updated   : 
 ------------------------------------------------------------ */
body.fixe {overflow:hidden; height:100%;}
.m_gnb .sub_menu {display:none !important;}
.web_dis {display:block;}
.mb_dis {display:none;}

/* wrap */
#wrap {width:100%; max-width:2200px; overflow:hidden; margin:0 auto; padding-top:87px;}

#inner_wrap {max-width:1200px; margin:0 auto; position:relative;}
#inner_wrap:after {clear:both; content:""; display:block;}
.inner {max-width:1200px; min-height:200px; margin:0 auto;}
.inner:after { clear: both; content: ""; display: block;}




/* header */
#header {width:100%; position:fixed; left:0px; top:0px; z-index:9999; background:#fff; background: #fff; box-sizing: border-box; border-bottom: 1px solid #ccc;}
/*#wrap #header.bg_on {background:url(../img/common/top_png.png) repeat left top; height:98px;}
#wrap #header.bg_on .top_menu { display:none;}
#wrap #header.bg_on h1 {left:0px; top:19px;}
#header.bg_on h1 .logo {margin-top:-43px;}
*/
#header h1 {position:absolute; overflow:hidden; left:0px; top:10px; transition: all 0.3s 0s ease-in-out;}
#header h1 .s_logo {font-size:12px; color: #333333; font-family: nGothicB; display: block; text-align: right;}
#header .top_menu {z-index: 1; position: relative;}
#header .top_menu > ul {font-size: 0px;}
#header .top_menu > ul:after { clear: both; content: ""; display: block;}
#header .top_menu > ul > li {font-size:13px; float: left; position: relative; padding:0px 15px; background: url(../img/common/top_line.gif) no-repeat left center;}
#header .top_menu > ul > li > a { display: block; color: #fff; font-size: 13px; line-height:36px; height: 36px; text-align: left;}
#header .top_menu > ul > li:first-child {padding-left: 0px; background: none;}



#header .w_gnb {padding:0px 15% 0px 22%;}

.m_gnb_on {position:absolute; right:10px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); display:none;}
.in_header {max-width:1200px; width:100%; margin:0 auto; position:relative; z-index:9}
.go_sitemap {position:absolute; right:0px; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.go_sitemap a { display:block; height:18px; line-height: 17px; padding-left:35px; background: url(../img/common/sitemap.gif) no-repeat left center; font-size:14px; color:#333333;}

/* 전체메뉴 */
.sitemap_wrap {display:none; width:100%; overflow-y:scroll; position:fixed; left:0%; top:0%; bottom:0%; right:0%; margin:0px; z-index:999999; padding:25px 0px; -webkit-overflow-scrolling: touch; background: url(../img/common/png_80.png) repeat left top;}
.sitemap_wrap .sitemap {padding: 7% 0 10%;}
.sitemap_wrap #gnbW {width: 98%; max-width:1011px; margin: 3.214285% auto 2.571428%; cursor: auto; position: relative;}
.sitemap_wrap .sitemap .gnb > ul { text-align:center; overflow:hidden;}
.sitemap_wrap .sitemap .gnb > ul > li {display:inline-block; vertical-align:top; text-align:left; width:129px; min-height:190px; padding:20px 15px;}
.sitemap_wrap .sitemap .gnb > ul > li > a {display:block; line-height:20px; height:35px; font-size:20px; color:#fff; padding-bottom:10px; border-bottom:4px solid #fff; text-align:left;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu {padding:10px 0px 0px 0px; width:100%; height:auto !important; display:block !important; position:relative; left:0px; top:0px;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu li {padding:7px 0px; float:none; font-size:15px;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu li a {color:#fff;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu li .br { display:block;}
.sitemap_wrap .close_bt { position:absolute; right:25px; top:25px;}

.sub_sitemap #gnbW {padding:30px 0px 0px 0px;}
.sub_sitemap .gnb > ul {text-align:center; overflow:hidden; font-size:0px;}
.sub_sitemap .gnb > ul > li {float:left; text-align:left; width:20%; box-sizing:border-box; min-height:190px; padding:20px 10px;}
.sub_sitemap .gnb > ul > li > a {display:block; line-height:20px; height:35px; font-size:18px; color:#000; padding-bottom:10px; border-bottom:4px solid #d91b5c; text-align:left;}
.sub_sitemap .gnb > ul > li .sub_menu {padding:10px 0px 0px 0px; width:100%; height:auto !important; display:block !important; position:relative; left:0px; top:0px;}
.sub_sitemap .gnb > ul > li .sub_menu li {padding:7px 0px; float:none; font-size:15px;}
.sub_sitemap .gnb > ul > li .sub_menu li a {color:#333;}
.sub_sitemap .gnb > ul > li .sub_menu li .br { display:block;}


/* GNB */
.w_gnb .gnb {font-family:nGothic; background:#fff; position:relative;}
.w_gnb .gnb:after {content:""; display:block; clear:both;}
.w_gnb .gnb > ul {font-size:0px;}
.w_gnb .gnb > ul:after {content:""; display:block; clear:both;}
.w_gnb .gnb > ul > li {display:inline-block; zoom:1; width:20%; *display:inline; position:relative; text-align:left;}
.w_gnb .gnb > ul > li.gnb04 {width:20%;}
.w_gnb .gnb > ul > li:first-child {background:none;}

.w_gnb .gnb > ul > li > a {display:block; color:#333333; padding-left: 15%;}
.w_gnb .gnb > ul > li > a > span {display:inline-block; font-size:18px; line-height:85px; height:81px; color:#333333; border-bottom:5px solid #fff; transition: all 0.2s 0s ease-in-out;}
.w_gnb .gnb > ul > li:hover > a > span {color:#000; border-bottom:5px solid #7f0c25;}
.w_gnb .gnb > ul > li.on > a > span {color:#000; border-bottom:5px solid #7f0c25;}

.w_gnb .sub_menu  {position:absolute; left:0%; width:100%; box-sizing:border-box; overflow:hidden; top:85px; line-height:20px; display:none; padding:20px 0px;}
.w_gnb .sub_menu > li {padding:2px 10px 2px 15%; letter-spacing:-0.5px;}
.w_gnb .sub_menu > li > a {display:block; font-size:13px; text-align:left; color:#cccccc; padding:3px 0px;  line-height:18px;}
.w_gnb .sub_menu > li > a:hover {color:#fff; font-family:nGothicB; text-decoration: underline;}
.w_gnb .three_depth { display:none;}


#gnb_bar {position:absolute; display:none; left:0%; top:100%; width:100%; background: url(../img/common/png_80.png) repeat left top;}
#gnb_bar .gnb_bar_in {max-width:1200px; height:235px; margin:0 auto; background:url(../img/common/gnb_img.png) no-repeat 2% 30px;}
/*.bg_on #gnb_bar {top:98px;}
.bg_on .w_gnb .gnb > ul > li:hover > a {color:#47c2c2;}
.bg_on .w_gnb .gnb > ul > li.on > a {color:#47c2c2;}
.bg_on .w_gnb .sub_menu {display:none !important;}
.bg_on  #gnb_bar {display:none !important;}*/


/* visual */
.main_visual {position:relative; }
.main_visual .bxslider li { height:428px; background-size:cover !important;}
.main_visual .bx-wrapper .bx-pager.bx-default-pager a {width:9px; height:9px; margin:0 6px; background:#ffffff; border:none; -moz-border-radius:14px;  -webkit-border-radius:14px; border-radius:14px;}
.main_visual .bx-wrapper .bx-pager.bx-default-pager a:hover {background:#ffffff;}
.main_visual .bx-wrapper .bx-pager.bx-default-pager a.active {background:none; border: 5px solid #fff;}

.main_visual .bx-wrapper .bx-controls-direction a {width:64px; height:100px; top:50%; position: absolute; margin-top: -50px; text-indent:-9999px;}
.main_visual .bx-wrapper .bx-prev {left:4px; background:url(../img/common/controls2.png) no-repeat 0 0px;}
.main_visual .bx-wrapper .bx-next {right:4px; background: url(../img/common/controls2.png) no-repeat right 0px;}
.main_visual .bx-wrapper .bx-pager { position:absolute; width: 100%; left: 0px; bottom:4%; padding:0px; z-index: 99;}
.main_visual .bx-controls-direction {display: none;}

.visual_txt {max-width:1180px; padding: 0px 10px; margin:6% auto;}
.visual_txt .txt1 {color:#fff; font-size:36px; line-height: 150%; }
.visual_txt .txt1:after {display: block; content: ""; width: 40px; height: 2px; background: #fff; margin-top:10px;}
.visual_txt .txt2 {color:#fff; font-size:16px; line-height: 150%; padding-top:25px; }



#section1 {padding:20px 0px 30px 0px;}


/* section */
.section_wrap {width:100%; overflow:hidden; clear:both;}
.section {padding:30px 0px 20px 0px;}
#section:after {clear:both; content:""; display:block;}

.m_tit {margin:0px 0px 30px 0px; color:#333333; font-size:32px; text-align:center; text-transform:uppercase; font-family:nGothicB; line-height:150%; display:block;}
.m_tit_txt {margin:-20px 0px 30px 0px; color:#555555; font-size:18px; text-align:center; line-height:150%; display:block;}




/* 카피라이트 */
#footerW {clear:both; width:100%; background:#fff; margin-top: 30px;}
.footer_menu {background: #505a64;}
.footer_menu > ul {overflow: hidden; max-width: 1200px; margin: 0 auto; padding:15px 0px;}
.footer_menu > ul > li {float: left; padding: 0px 15px; background: url(../img/common/f_line.gif) no-repeat left center; line-height: 30px; height: 30px;}
.footer_menu > ul > li > a {color: #fff; font-family: nGothicB; font-size:14px; }
.footer_menu > ul > li:first-child {background: none; padding-left:5px;}

#footer_add {max-width:700px; padding:40px 250px 40px 250px; background:url(../img/common/logo.gif) no-repeat left 37px; margin:0 auto; position:relative; color:#333333; font-size:13px;}
#footer_add:after {clear:both; display:block; content:""}
#footer_add .top {position:absolute; right:0px; top:-60px;}
#footer_add .copyright {padding-top:5px;}
#footer_add .brochure_down {border: 1px solid #bec8d2; border-radius:20px; display: inline-block; padding: 0px 20px; position: absolute; right: 0px; top: 35px;}
#footer_add .brochure_down a {display: block; font-size:13px; color: #000000; font-family: nGothicB; line-height:34px; padding: 0px 35px 0px 10px; background: url(../img/common/ico_down.gif) no-repeat right center;}

.web_info {}
.web_info span {display:inline-block; zoom:1; display:inline-block; padding-right: 10px; margin-right: 10px; background: url(../img/common/f_line2.gif) no-repeat right center;}
.web_info span a { color:#333333;}
.web_info:after { clear:both; content:""; display:block;}


.sub_wrap #footerW {margin-top:50px;}


#content {width:100%; max-width:1200px; margin:0 auto; padding:30px 0px;}
#content:after {clear:both; content:""; display:block;}
img {max-width: 100%;}

.sub_wrap_1 #sub_visual {background:url(../img/department_guide/sub_visual.jpg) no-repeat center bottom;}
.sub_wrap_2 #sub_visual {background:url(../img/college/sub_visual.jpg) no-repeat center bottom;}
.sub_wrap_3 #sub_visual {background:url(../img/graduate_school/sub_visual.jpg) no-repeat center bottom;}
.sub_wrap_4 #sub_visual {background:url(../img/engineering_certify/sub_visual.jpg) no-repeat center bottom;}
.sub_wrap_5 #sub_visual {background:url(../img/community/sub_visual.jpg) no-repeat center bottom;}

.sub_visual {max-width:1200px; height:229px;  margin: 0 auto; padding: 0px 10px; overflow: hidden; position: relative;}
.sub_visual .sub_txt {display: table; height: 100%;}
.sub_visual .sub_txt span {display: table-cell; vertical-align: middle; height: 100%;}
.sub_visual .sub_txt span img {display: none;}
.sub_visual .sub_txt img {width:100%;}
#sub_tit {padding:60px 0px 55px 0px; background: url(../img/common/sub_tit_bg.jpg) no-repeat center top; color: #fff; font-size:32px; font-family: nGothic; line-height: 32px; text-align:center;}


#m_lnb {display:none;}


#lnb_wrap {width:252px; float: left; background: url(../img/common/lnb_bg.gif) no-repeat right bottom; padding-bottom: 16px;}
/*#lnb_wrap.fix {position: fixed; left: 0px; top:188px;}*/
#lnb_wrap .lnb {max-width:1200px; margin:0 auto; position:relative;}
#lnb_wrap .lnb:after {clear:both; content:""; display:block;}
.lnb ul:after { clear:both; content:""; display:block;}

.lnb ul li {border-bottom: 1px solid #c5c5c5;}
.lnb ul li a {color:#555555; font-size:16px; display:block; line-height:20px; min-height:20px; padding:16px 54px 16px 10px; background: url(../img/common/lnb_arrow.gif) no-repeat right center;}
.lnb ul li.on a {color:#7f0c25; font-family: nGothicB; background:url(../img/common/lnb_arrow_on.gif) no-repeat right center;}



.lnb .lnbs .copy_menu {position:absolute; left:0px; top:40px; width:100%; display:none;}



#lnb_tit {font-size:14px; letter-spacing:-1px; padding:0px 0px 0px 20px; color:#333333; line-height:39px; height:39px; background:url(../img/common/lnb_arrow.png) no-repeat 90% center; cursor:pointer;}
#lnb_tit2 {font-size:14px; letter-spacing:-1px; padding:0px 0px 0px 20px; color:#333333; line-height:39px; height:39px; background:url(../img/common/lnb_arrow.png) no-repeat 95% center; cursor:pointer;}

.rightW {float: right; width: 900px; box-sizing: border-box;}


.title_bar {border-bottom: 1px solid #cccccc; padding-bottom:20px; margin-bottom:30px;}
.title_bar h2 {font-size:32px; padding:5px 0px 5px 0px; color:#000000;  line-height:150%; letter-spacing:-1px;  transition: all 0.2s 0s ease-in-out; font-family: nGothicB;}
.title_bar .s_txt {font-size:13px; color:#555555; display: none;}

.location {line-height:37px; padding-top: 10px; text-align:right;}
.location span {display:inline-block; zoom:1; *display:inline; padding-left:17px; margin-left:10px; background:url(../img/common/location.gif) no-repeat left center; color:#686868;}
.location span:first-child {padding-left:0px; margin-left:0px; background:none}
.location #location_2 {color:#881c34; font-family:nGothicB;}
.location img {vertical-align:middle}


.sub_con {min-height:500px; padding-bottom: 50px; font-size: 14px; line-height: 160%}
.parking { text-align:center; font-size:32px; padding:70px 0px 360px 20px; background: url(../img/common/parking.gif) no-repeat center bottom; background-size:contain; max-width:579px; margin:0 auto;}

.s_tit {font-size:1.8em; position: relative; color:#000; line-height:110%; margin:45px 0px 20px 0px;  padding-top:20px;}
.s_tit:before {position: absolute; left: 0px; top:0px; display: block; content: ""; width: 40px; height: 2px; background:#7f0c25}
.ss_tit {font-size:18px; color:#000000; font-family: nGothicB; padding:2px 0px 2px 20px; margin-top:30px; line-height:140%; background:url(../img/common/ss_bul.gif) no-repeat 0px 8px; min-height:20px; text-align:left; margin-bottom:8px;}
.sss_tit {font-size:13px; color:#333333; padding:0px 0px 10px 0px; margin-top:20px; line-height:140%; font-size: 15px;}
.imgW img {max-width:100%;}
.b_txt {font-size: 1.1em; line-height: 160%; color: #333; font-family: nGothicB;}

/* 학부안내 */
.greeting_wrap { word-break: keep-all}
.greeting_wrap .greeting {overflow: hidden; word-break: keep-all}
.greeting_wrap .txt1 {font-size:26px; line-height: 160%; color: #000000; padding-bottom: 10px; background: url(../img/department_guide/txt1_bg.gif) no-repeat right 20px; display: inline-block; padding-right:290px;}
.greeting_wrap .txt2 {font-size:23px; line-height: 160%; color: #000000; padding-bottom:20px;}
.greeting_wrap .txt2.nar {background: url(../img/department_guide/txt1_bg.gif) no-repeat 300px 20px; }
.greeting_wrap .s_txt {padding-bottom:40px;}
.greeting_wrap .greeting .photo {display: block; float: left; padding: 3px; border: 1px solid #cccccc; overflow: hidden; margin-right: 10px;}
.greeting_wrap dl {padding-top:30px;}
.greeting_wrap dl dt {font-size: 18px; color: #000000; padding-bottom: 15px; font-family: nGothic; font-weight: normal;}
.greeting_wrap .sign {text-align: right; padding-top: 20px; font-size: 16px; color: #000000;}
.greeting_wrap .sign p {display: inline-block; text-align:right;}
/*.greeting_wrap .sign p span {display: block; padding:15px 50px 10px 0px; background: url(../img/department_guide/sign.gif) no-repeat 60px 5px;}*/
.greeting_wrap .sign p span {font-size: 1.5em; line-height: 150%;}

/* line */
.line {border-top:1px solid #ccc;}

.num_box > li {margin-top: 15px; font-size: 1.15em; font-family: nGothicB; color: #000; border: 2px solid #7f0c25; text-align: center; padding: 0px 10px 10px 10px; border-radius:10px; }
.num_box > li .num {display:block; color: #fff; background: #7f0c25; text-align: center; max-width:50px; margin: 0 auto; border-radius:0px 0px 30px 30px; padding:3px 0px 7px 0px; line-height: 120%; font-size:14px; margin-bottom: 15px;}



/* 연혁 */
.history {overflow:hidden;}
.history ul {}
.history > ul > li {position: relative; padding:12px 0 12px 135px; border-top:1px solid #cccccc;}
.history > ul > li:last-child {border-bottom:1px solid #cccccc;}
.history > ul > li > span:nth-child(1) {font-size:18px; font-weight:bold; color:#6e0a20; line-height:160%; position: absolute; left: 0px; top: 12px;}
.history > ul > li .bul05 > li {position: relative;}
.history > ul > li .bul05 > li > span {margin-left: -36px; width: 36px; font-family: nGothicB; display: inline-block;}



/* 교수소개 */
.teacher_list {overflow: hidden;}
.teacher_list > ul {margin: 0px -5px 0px -5px }
.teacher_list > ul > li {box-sizing: border-box; padding:15px 5px; }
.teacher_list > ul > li > a {display: block; position: relative; padding: 10px 10px 10px 120px; min-height: 126px; overflow: hidden; border: 1px solid #e1e1e1; }
.teacher_list > ul > li > a .pic {display: block; width:96px; height: 126px; border: 1px solid #efefef; position: absolute; left:10px; top: 10px; background: #f6f6f6;}
.teacher_list > ul > li > a .pic img {max-width: 100%; height: 100%;}
.teacher_list > ul > li > a .txt {display: block; position: relative; padding-left:80px; font-size: 13px; line-height: 20px; min-height: 20px; margin:6px 0px; color: #000; word-break: break-all; width: 50%; float: left; box-sizing: border-box;}
.teacher_list > ul > li > a .txt .label {line-height: 20px; position: absolute; left: 0px; top: 0px; display: block; padding-left:10px; background: url(../img/common/bul02.gif) no-repeat left 9px; font-family: nGothicB;}
.br_box {border: 1px solid #e1e1e1}
.br_box .list > li {border-top:1px solid #e1e1e1; line-height: 150%; padding: 5px 10px; font-size: 13px; }
.br_box .list > li:first-child {border-top:none; }


.member_list {overflow: hidden; margin: -10px;}
.member_list .m_box {float: left; width: 50%; box-sizing: border-box; padding: 10px;}
.member_list .m_box_in {border: 1px solid #ccc; position: relative; padding:10px 10px 10px 140px; min-height:250px;}
.member_list .m_box_in.long {}
.member_list .m_box_in .pic {position: absolute; left: 10px; top: 10px;}
.member_list .m_box_in > ul > li {position: relative; border-top:1px solid #ccc; padding: 5px 0px 5px 82px; }
.member_list .m_box_in > ul > li:first-child {border-top:none}
.member_list .m_box_in > ul > li .txt_t {position: absolute; left: 0px; top:5px; color: #000;}
.member_list .m_box_in > ul > li > strong {color: #000;}
.member_list .m_box_in > ul > li a {color: #666666;}


.num_list > li {padding-left: 13px; text-indent: -13px;}
.han_list > li {padding-left: 19px; text-indent: -19px;}

.objective_wrap {overflow: hidden;}
.objective_wrap > dl {float: left; word-break: keep-all; width: 33.3333%; box-sizing: border-box; padding: 10px; text-align: center;}
.objective_wrap > dl > dt {padding-bottom: 10px;}
.objective_wrap > dl > dd {max-width:210px; margin: 0 auto; box-sizing: border-box;}
.objective_wrap > dl > dd .box {display:table; width: 100%;}
.objective_wrap > dl > dd .box .cell {display:table-cell; word-break: keep-all; padding: 10px; height:70px; vertical-align: middle; text-align: center; color:#fd8500;  border: 2px solid #fd8500; box-sizing: border-box;}
.objective_wrap > dl > dd .txt {padding-top: 10px;}


.missionW_wrap .missionW {padding-top:40px; margin-top:10px; background: url(../img/engineering_certify/arrow_down.gif) no-repeat center top}
.missionW_wrap .missionW:first-child {padding-top:0px; margin-top:0px; background:none}
.missionW_wrap .missionW .box {border: 2px solid #962b42; overflow: hidden; border-radius:12px;}

.missionW_wrap .missionW:nth-child(2) .box {border: 2px solid #ded8da}
.missionW_wrap .missionW:nth-child(2) .box .vision_tit {background: #ded8da; color: #000;}
.missionW_wrap .missionW:nth-child(3) {max-width: 500px; margin: 0 auto;}
.missionW_wrap .missionW:nth-child(4) {max-width: 500px; margin: 0 auto;}

.missionW_wrap .missionW .first_txt {background:#7f0c25; color: #fff; max-width: 300px; text-align: center;margin: 0 auto; font-size:1.2em; line-height: 150%; padding:10px 15px; border-radius:6px;  box-sizing: border-box;}

.missionW {border-radius:6px; }
.vision_tit{color: #fff; text-align: center; font-size:18px; line-height: 140%; font-weight: 500; padding:10px; background: #962b42; }
.missionW .radius_p{ max-width:760px; box-sizing: border-box; padding:30px 0px 10px 130px; text-align: center; line-height: 150%; font-size: 24px;}
.missionW .mission_img{text-align: center; padding:0px;}
.mission_ul{overflow: hidden; position: relative; padding:20px 20px 30px 20px;}
.mission_ul > li{ float:left; width:100%; box-sizing: border-box; text-align: center; line-height: 130%;}
.mission_ul > li:first-child {border:none; }
.mission_ul > li > dl > dt {color:#fff; padding:5px 5px; max-width:187px; margin:0 auto; background:#545454; border-radius:60px;}
.mission_ul > li > dl > dd .bul05 {margin:0 auto; padding-top:10px; text-align:left; /*max-width:380px;*/}
.mission_ul > li > dl > dd .bul05 > li {color:#333; font-weight:300; }

.cic {text-align: center; padding: 10px 0px;}
.cic > li {display: inline-block; padding: 5px;}
.cic > li span {display: block; width:50px; height: 50px; line-height: 50px; color: #fff; background: #ff8500; border-radius:100%; }

.process_wrap > dl {position: relative; padding-left: 60px; margin-top: 30px;}
.process_wrap > dl:first-child {margin-top: 0px;}
.process_wrap > dl > dt {color: #333; font-weight: 400; padding-bottom: 10px;}
.process_wrap > dl > dd.type {position: absolute; left: 0px; top:3px; color: #fff; padding:5px 10px; background: #7f0c25}

.rules_wrap .num_list > li {margin-top: 10px;}
.rules_wrap .han_list > li {margin-bottom: 10px;}










/*atab*/
.atab { margin-bottom:40px;}
.atab:after {clear:both; display:block; content:"";}
.atab li {float:left; width:20%; box-sizing:border-box; position:relative;}
.atab li a {display:block; background:#f3f3f3; min-height:20px; line-height:20px; padding:15px 0px; text-align:center; color:#000; box-sizing:border-box; border:1px solid #dadada; border-left:none; font-size: 14px;}
.atab li:first-child a {border-left:1px solid #dadada;}
.atab li.on a {background:#5a081a; color: #fff; border: 1px solid #5a081a}
.atab li .arrow {display:none; position:absolute; left:50%; bottom:-10px; margin-left:-10px; background:url(../img/common/tab_on.gif) no-repeat left bottom; width:20px; height:11px;}
.atab li.on .arrow {display:block;}
.atab.two li {width:50%;}

.of_hi .fl50 {float:left; width:48%;}
.of_hi .fr50 {float:right; width:48%;}
.graybox { background:#cccccc; padding:10px;}
.no_flash { display: none;}




/*atab*/
.atab { margin-bottom:40px;}
.atab:after {clear:both; display:block; content:"";}
.atab li {float:left; width:20%; box-sizing:border-box; position:relative;}
.atab li a {display:block; background:#fff; min-height:20px; line-height:20px; padding:15px 0px; text-align:center; color:#000; box-sizing:border-box; border:1px solid #dadada; border-left:none; font-size: 18px;}
.atab li:first-child a {border-left:1px solid #dadada;}
.atab li.on a {background:#1e75d6; color: #fff; border: 1px solid #1e75d6}
.atab li .arrow {display:none; position:absolute; left:50%; bottom:-10px; margin-left:-10px; background:url(../img/common/tab_on.gif) no-repeat left bottom; width:20px; height:11px;}
.atab li.on .arrow {display:block;}
.atab.two li {width:50%;}

.of_hi .fl50 {float:left; width:48%;}
.of_hi .fr50 {float:right; width:48%;}
.graybox { background:#cccccc; padding:10px;}
.no_flash { display: none;}

/* 레이어팝 */
#black {background-color:#000; display:none; height:100%; left:0;  opacity:0.8; filter:alpha(opacity=80); position:fixed; top:0; width:100%; z-index:9999;}
.layerPop {display:none; width:96%; padding:0px 2%; position:fixed; top:50%; left:0%; z-index:99999;}
.layerPop_in {max-width:1200px; margin:0 auto; background:#FFF; max-height:800px; overflow-y:auto; overflow-x:hidden; position:relative;}
.layerPop .pop_title {font-size:1.4em; color:#fff; font-family:nGothicB; line-height:55px; height:55px; border-bottom:1px solid #ceced0; padding:0px 10px; background:#3478c1;}
.layerPop .pop_title2 {font-size:2.5em; color:#333; font-family:nGothicB; line-height:150%; margin-bottom:10px; padding:0px 10px; text-align:center;}


/*.layerPop a.close_bt {top:-60px; position:absolute; right:0px;}*/
.layerPop .img {width:100%; max-width:100%;}
.layerPop .close_bt {position:absolute; right:10px; top:6px;}
.panel-body {padding:0px 0px 15px 0px;}

.Pop_in {padding:20px;}
.Pop_in .btn {border:1px solid #333333; background-color:#333333; color:#fff; padding:12px; display:block; font-size:15px; text-align:center; font-family:nGothicB; width:100%; cursor:pointer; box-sizing:border-box; -moz-box-size:border-box;}
.Pop_in .btn a {color:#fff;}
.Pop_in .btn.black {border:1px solid #666666; border-bottom:1px solid #575757; background-color:#666666;}
.Pop_in .btn button {color:#fff; background:none; font-family:nGothicB; font-size:15px;}


/* 팝업 */

.popup_scroll {max-height:700px; overflow-x:hidden; overflow-y:auto;}

.layers_wrap {background:#FFF; position:relative; min-width:300px;}
.layers_wrap .layers_tit {width: 100%; padding: 15px 0px; text-indent: 10px; line-height: 150%; background:#7f0c25; font-size: 1.8em; color: #fff; font-family: nGothicB; position: relative;}
.layers_wrap .layers_tit .logo {padding-left:25px; padding-top:20px;}
.layers_wrap  .close_pop { position:absolute; right:25px; top:17px;}
.layers_wrap .layers {padding:20px; position:relative; /*min-height:100px; max-height:760px; overflow-x:hidden; overflow-y:auto; -webkit-print-color-adjust:exact;*/}

.layers_wrap .close {height:30px; border-top:none; text-align:right; background:#e2e2e2; line-height:30px;}
.layers_wrap .close a { display:inline-block; zoom:1; *display:inline; font-family:nGothicB; color:#2d2d2d; padding-right:20px; background:url(http://pic.neungyule.com/newnetimes/img/btn/pop_close_s.gif) no-repeat right center; margin-right:10px;}
.layers_wrap .pop_tit {padding-left:5px; border-bottom:1px solid #afafaf; min-height:41px; padding-bottom:3px; font-family:nGothicB; color:#444444; font-size:22px; line-height:41px;}
.layers_wrap .pop_tit.ico_check2 { font-size:13px; min-height:20px; padding:10px 10px 10px 50px; background:url(../img/common/ico_check2.gif) no-repeat 10px 10px #f9f9f9; line-height:150%; border-bottom:none;}
.layers_wrap .pop_tit_no {min-height:38px; font-family:nGothicB; color:#444444; font-size:22px; line-height:38px;}









.menu_btn {position: relative; height: 28px; width:36px; cursor: pointer;}
.menu_btn .line-top,
.menu_btn .line-middle,
.menu_btn .line-bottom {position: absolute; display: block; height: 4px; width:100%; border-radius:0px; background: #000;}
.menu_btn .line-top {top: 0; -webkit-transform-origin: 18px 2px;  transform-origin: 18px 2px;}
.menu_btn .line-middle {top: 12px;  -webkit-transition: opacity 200ms linear;  transition: opacity 200ms linear;}
.menu_btn .line-bottom {bottom: 0;  -webkit-transform-origin: 18px 2px; transform-origin: 18px 2px;}
/*open*/
.menu_btn.is-open .line-top {
	-webkit-animation: line-top-out 400ms linear normal;
    animation: line-top-out 400ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.menu_btn.is-open .line-middle{opacity: 0;}
.menu_btn.is-open .line-bottom{
	-webkit-animation: line-bot-out 400ms linear normal;
    animation: line-bot-out 400ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
/*closed*/
.menu_btn.is-closed .line-top{
	-webkit-animation: line-top-in 500ms linear normal;
    animation: line-top-in 400ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.menu_btn.is-closed .line-middle{
	-webkit-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu_btn.is-closed .line-bottom{
	-webkit-animation: line-bot-in 500ms linear normal;
    animation: line-bot-in 500ms linear normal;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
	
/*keyfremes*/
@-webkit-keyframes line-top-in {
    0% {top: 12px; transform: rotate(-45deg);	}
	10% {top: 12px; transform: rotate(-35deg);	}
	20% {top: 12px; transform: rotate(-20deg);	}
	60% {top: 12px; transform: rotate(0deg);	}
	100% {top: 0px;}
}

@keyframes line-top-in {
	0% {top:12px;	transform: rotate(-45deg);}
	10% {top: 12px; transform: rotate(-35deg);	}
	20% {top: 12px; transform: rotate(-20deg);	}
	60% {top: 12px; transform: rotate(0deg);} 
	100% {top: 0px;}
}

@-webkit-keyframes line-top-out {
    0% {top: 0px;}
	60% {top: 12px; transform: rotate(0deg);	}
	80% {top: 12px; transform: rotate(-20deg);	}
	90% {top: 12px; transform: rotate(-35deg);	}
	100% {top: 12px;	transform: rotate(-45deg);	}
}

@keyframes line-top-out {
    0% {top: 0px;}
	60% {top: 12px; transform: rotate(0deg);	}
	80% {top: 12px; transform: rotate(-20deg);	}
	90% {top: 12px; transform: rotate(-35deg);	}
	100% {top: 12px;	transform: rotate(-45deg);	}
}

@-webkit-keyframes line-bot-in {
	0% {bottom: 12px; transform: rotate(45deg);	}
	10% {bottom: 12px;	transform: rotate(35deg);	}
	20% {bottom: 12px;	transform: rotate(20deg);	}
	60% {bottom: 12px;	transform: rotate(0deg);	}
	100% {bottom: 0px;	}
}

@keyframes line-bot-in {
    0% {bottom: 12px; transform: rotate(45deg);	}
	10% {bottom: 12px;	transform: rotate(35deg);	}
	20% {bottom: 12px;	transform: rotate(20deg);	}
	60% {bottom: 12px;	transform: rotate(0deg);	}
	100% {bottom: 0px;	}
}

@-webkit-keyframes line-bot-out {
    0% {bottom: 0px;	}
	60% {bottom: 12px; transform: rotate(0deg);	}
	80% {bottom: 12px;	transform: rotate(20deg);	}
	90% {bottom: 12px;	transform: rotate(35deg);	}
	100% {bottom: 12px; transform: rotate(45deg);	}
}

@keyframes line-bot-out {
	0% {bottom: 0px;	}
	60% {bottom: 12px; transform: rotate(0deg);	}
	80% {bottom: 12px;	transform: rotate(20deg);	}
	90% {bottom: 12px;	transform: rotate(35deg);	}
	100% {bottom: 12px; transform: rotate(45deg);	}
}

/* 200401 추가 */
.bg_blue {background:#ddf2ff;}
.greeting_wrap .txt2 {font-size: 23px; line-height: 160%; color: #000000;  padding-bottom: 20px;}

.btn_file {
    width: 300px;
    margin: 0 auto;
    background: #a22d44;
    text-align: center;
    color: #fff;
    padding: 15px 30px;
	font-size:1.2em;
	border-radius:5px;
}



















/* ------------------------------------------------------------
 * Name      : mobile_layout.css    
 * Desc      : page layout 
 * Created   : 
 * Updated   : 
 ------------------------------------------------------------ */
.mobile_on .m_gnb .gnb > ul {overflow-y:auto; overflow-x:hidden;}
.m_gnb {position:absolute; left:0px; top:122px; width:100%;}
.m_gnb .gnb > ul {width:100%; background:rgba(18,18,18, .97); position:relative; overflow-x:hidden;}
.m_gnb .gnb > ul:after {content:""; display:block; clear:both;}
.m_gnb .gnb > ul > li > a {display:block; font-size:14px; color:#ffffff; padding:15px 0px; text-align:center; border-bottom:1px solid rgba(255,255,255, .065)}
/*.m_gnb .gnb > ul > li:hover > a {background:#000;}*/

.m_gnb .sub_menu  {width:100%; line-height:20px; background:#4a4a4a; display:none;}
.m_gnb .sub_menu > li > a {display:block; color:#fff; font-size:12px; padding:5px 0px; text-align:center; border-bottom:1px solid rgba(255,255,255, .065)}
.m_gnb .sub_menu > li > a:hover { background:#009091;}
.m_gnb .gnb .alarm { background-size:20px;}
.m_gnb .gnb .name {max-width:200px;}
.mobile_on input, .mobile_on select, .mobile_on textarea {-webkit-appearance:none;}
.mobile_on select {height:31px; padding:0px 2em 0px 8px!important;}
.mobile_on .sel_arrow {position: relative;}



/* 추가 */

/******* 컴퓨터정보공학부 ********/ 

/* 대학소개 */
.objective {overflow: hidden; margin: 0px -5px}
.objective > li {float: left; width: 50%; overflow: hidden; padding: 5px; box-sizing: border-box;}
.objective > li:hover .in {border:8px solid #520818; padding:13px 18px;}
.objective > li .in {border:1px solid #cccccc; padding:20px 25px; min-height:125px; color: #666666;}
.objective > li .in .txt_t {display: block; font-size:21px; color: #000000; padding-bottom:15px; margin-bottom: 15px; background: url(../../common/img/common/tit_line2.gif) no-repeat left bottom; }

.edu_objective {overflow: hidden; background: url(../ce/img/engineering_certify/objective_visual.jpg) no-repeat center top;}
.edu_objective > ul {overflow: hidden; font-size: 0px; padding-top:170px;}
.edu_objective > ul > li {display: inline-block; width: 33.33%; box-sizing: border-box; padding: 0px 15px; vertical-align: top; font-size: 13px; color: #666666;}
.edu_objective > ul > li > .box {border:10px solid #eeeeee; box-sizing:border-box; padding: 15px; min-height:150px; background-color: #fff !important; position: relative; margin-bottom: 10px;}
.edu_objective > ul > li > .box .txt_t {font-size: 16px; color: #000000; padding-top:70px; display: block;}
.edu_objective > ul > li > .box .num {font-size:32px; color: #333333; font-family: nGothicB; padding-bottom: 10px; background: url(../img/common/tit_line2.gif) no-repeat left bottom;}
.edu_objective > ul > li.ico01 > .box {background: url(../img/engineering_certify/objective_ico01.png) no-repeat 90% 10px;}
.edu_objective > ul > li.ico02 > .box {background: url(../img/engineering_certify/objective_ico02.png) no-repeat 90% 10px;}
.edu_objective > ul > li.ico03 > .box {background: url(../img/engineering_certify/objective_ico03.png) no-repeat 90% 10px;}

.edu_objective.ce {background: url(../img/engineering_certify/objective_visual_ce.jpg) no-repeat center top;}
.edu_objective.ic {background: url(../../ic/img/department_guide/objective_visual_ic.jpg) no-repeat center top;}

.s_tit.noi {background:none; margin:0px; padding-bottom:20px;}

/* 공학인증소개 */
.engineering_wrap .bul {background: url(../../common/img/common/bul04.png) no-repeat left 6px;}

/******* 소프트웨어학부 ********/ 

/* 학부안내 */
.greeting_wrap .greeting span {font-size: 26px; line-height: 150%; color: #000;}
.greeting_wrap .session {font-size: 26px; color: #000000;}

/* 공학인증 */
.engineering_wrap .rule {font-size: 25px; color: #000000; text-align: center;}
.engineering_wrap .bul {background: url(../../common/img/common/bul04.png) no-repeat left 6px;}
.engineering_wrap img {width:100%;}
.engineering_wrap span img{display:inline-block; padding-top:30px; padding-bottom:30px; width:100%;}
.engineering_wrap .box {overflow:hidden; width:100%;}
.engineering_wrap .box .in_box {border:1px solid #ccc; width:49%; float:left;}
/*.engineering_wrap .box .in_box:hover {width:49%;}*/
.engineering_wrap .box .in_box:nth-child(1), 
.engineering_wrap .box .in_box:nth-child(2) {margin-bottom:15px;}
.engineering_wrap .box .in_box:nth-child(2), 
.engineering_wrap .box .in_box:nth-child(4) {float:right;}
.engineering_wrap .box .in_box li {padding:20px;}
.engineering_wrap .box .in_box li .num {display:block; font-size:30px; padding-bottom:20px; background: url(../img/engineering_certify/bar.png) no-repeat 3px 35px; }
.engineering_wrap .box .in_box li span {display:block;}
.engineering_wrap .box .in_box li span.tit {font-size:15px; font-weight:bold; padding-bottom:10px;} 

.engineering_wrap .sub_tit {font-size:16px; display:inline-block;}



/* 일반프로그램 */
.program_wrap .program {overflow: hidden;}
.program_wrap img {display:inline-block; width:100%;}
.program_wrap .txt1 {font-size:26px; line-height: 160%; color: #000000; /*padding-bottom:10px;*/ /*background: url(../img/department_guide/txt1_bg.gif) no-repeat 400px 20px;*/ display: inline-block; max-width: 900px;}
.program_wrap dl {padding-top:30px;}
.program_wrap dl dt {font-size: 18px; color: #000000; padding-bottom: 15px; padding-left:18px; background: url(../../common/img/common/bul04.png) no-repeat left 6px; display: inline-block;font-family: nGothic; font-weight: normal; }

.program_wrap .zoom {width:155px; background:#a22d44; margin:0 auto; border-radius:15px;}
.program_wrap .zoom li {height:28px; text-align:left; padding-left: 20px; background: url(../../common/img/common/arrow.png) no-repeat 132px 8px;}
.program_wrap .zoom li a {color:#ffffff; padding:5px; line-height:28px;}

/******* 정보융합학부 ********/ 
.greeting_wrap .txt2.nar {background: url(../img/department_guide/txt1_bg.gif) no-repeat 250px 20px; }

.park {padding-top: 20px; width: 300px; margin: 0 auto; text-align: center; font-size: 22px; line-height: 145%;}
.park img {width: auto;}









.txt_indent > li {position:relative; padding-left:20px; line-height:26px;}
.txt_indent > li .black {position:absolute; left:0px; top:0px;}

.txt_indent.result > li {position:relative; padding-left:25px; line-height:26px;}
.txt_indent > li .wine {position:absolute; left:0px; top:0px;}


.engineering_wrap ul lu {font-size: 18px; color: #000000; padding-bottom: 15px; padding-left:18px; background: url(../img/engineering_certify/bul.png) no-repeat left 6px; display: inline-block;font-family: nGothic; font-weight: normal; }
.engineering_wrap li.dot {background: url(/ce/common/img/common/dot.png) no-repeat 3px 10px; padding-left:13px;} 



#section1 .main_banner {float: left; width: 50%; margin-top: 1px;}
#section1 .main_banner:after {clear: both; content: ""; display: block;}
#section1 .main_banner > li {float: left; width: 50%; box-sizing: border-box; background: #fff;}
#section1 .main_banner > li > a {display: block; padding:20px; min-height: 157px; position: relative; border: 1px solid #e5e5e5; margin: -1px  0px 0px -1px;}
#section1 .main_banner > li > a > strong {display: block; font-size: 18px; color: #333333; padding-bottom:10px;}
#section1 .main_banner > li > a > span {display: block; font-size: 13px; color: #555555; }
#section1 .main_banner > li > a > span.more {display: block; font-size:24px; color: #7f0c25; font-family: nGothicB; position: absolute; left: 10%; bottom:15px;}
#section1 .main_banner > li.ico01 > a {background: url(../img/main/ico01.gif) no-repeat 90% 90%}
#section1 .main_banner > li.ico02 > a {background: url(../img/main/ico02.gif) no-repeat 90% 90%}
#section1 .main_banner > li.ico03 > a {background: url(../img/main/ico03.gif) no-repeat 90% 90%}
#section1 .main_banner > li.ico04 > a {background: url(../img/main/ico04.gif) no-repeat 90% 90%}

.main_right {float: right; width: 50%; box-sizing: border-box; padding-left:300px; position: relative; min-height:396px; }

.pop_zone {border: 1px solid #7f0c25; width:298px; height: 330px; background: #fff; padding-top: 65px; position: absolute; left: 0px; top: 0px;}
.pop_zone > h3 {position: absolute; color: #7f0c25; z-index: 99; left: 20px; top:20px; font-size: 18px; font-family: nGothicB;}
.pop_zone .bx-wrapper .bx-pager {text-align: right !important; width: 100% !important; box-sizing: border-box; padding-right:45px; box-sizing: border-box; bottom:auto; top:-41px; padding-top: 0px; font-size: 0px;}
.pop_zone .bx-wrapper .bx-pager.bx-default-pager a {background: #e1e1e1; width:10px; height:10px; margin: 0 3px; -moz-border-radius:10px; -webkit-border-radius: 10px; border-radius:10px;}
.pop_zone .bx-wrapper .bx-pager.bx-default-pager a:hover {background: #e1e1e1;}
.pop_zone .bx-wrapper .bx-pager.bx-default-pager a.active {background: #d75e7e;}
.pop_zone .bx-wrapper .bx-controls-auto {bottom: auto; padding-top: 0px; padding-right: 10px; top:-42px;}

.main_board {border: 1px solid #e5e5e5;}
.board_first {min-height:145px; padding:25px; position: relative; border-bottom: 1px solid #e5e5e5}
.board_first > h3 {font-size:18px;  color: #333333; font-family: nGothicB;}
.board_first > p > a {min-height:90px; overflow: hidden; font-size: 16px; line-height: 140%; padding: 20px 0px 0px 0px; display: block; color: #333333}
.board_first .more {display: block; font-size:24px; color: #7f0c25; font-family: nGothicB; position: absolute; right:30px; top:30px;}
.board_first .date {text-align: right;}
.board_first .date > span {display: inline-block; padding-left:36px; font-size: 13px; background: url(../img/common/ico_day.gif) no-repeat left top;}
.main_board .board {padding:15px 15px 15px 25px; min-height: 164px;}
.main_board .board li {padding-left: 10px; margin: 6px 0px; background: url(../img/main/notice_bul.gif) no-repeat left 8px; }
.main_board .board li a {display: block; color: #555555; font-size: 13px; line-height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; -o-text-overflow: ellipsis;}

#section2 {background: url(../img/main/section2_bg.jpg) no-repeat center top; height:358px; padding: 0px;}
#section2 .m_tit {color: #fff; padding-top: 40px;}
#section2 .m_tit_txt {color: #fff;}
.b_banner {overflow: hidden; font-size: 0px; text-align: center; padding-top: 20px;}
.b_banner > li {display: inline-block; width:16.6%; box-sizing: border-box; padding: 0px 5px; text-align: center; vertical-align: top;}
.b_banner > li > a {display: block; font-size:16px; line-height: 140%; padding-top:85px; color: #fff; }
.b_banner > li.ico01 > a {background: url(../img/main/ico01.png) no-repeat center top; }
.b_banner > li.ico02 > a {background: url(../img/main/ico02.png) no-repeat center top; }
.b_banner > li.ico03 > a {background: url(../img/main/ico03.png) no-repeat center top; }
.b_banner > li.ico04 > a {background: url(../img/main/ico04.png) no-repeat center top; }
.b_banner > li.ico05 > a {background: url(../img/main/ico05.png) no-repeat center top; }
.b_banner > li.ico06 > a {background: url(../img/main/ico06.png) no-repeat center top; }

/* 200401 추가*/

.con_txt {line-height:25px; color:#333; font-size:14px;}
.br_pc {display:block;}

.txt3 {font-size:18px;}


















/* 1200px 이상 */
@media screen and (min-width:1199px) {
	.m_gnb {display:none !important;}
}

/* 1220px 이하 */
@media screen and (max-width:1219px) {

    .rightW {float:none; width:100%; margin: 0 auto; box-sizing: border-box; padding:0px 10px;}
    #lnb_wrap {width: 100%; float: none; background:#fff; padding-bottom: 0px;}
    .lnb ul {margin-left: -2px;}
    .lnb ul li {color:#fff; float:left; width:25%; border: none;}
	.lnb ul li a {margin-left:2px;color: #333; font-size: 1.05em; display: block; text-align: center; line-height:20px; min-height:20px; padding: 15px 5px; box-sizing: border-box; background: none; border-bottom: 2px solid #ccc;}
    .lnb ul li.on a {background:#7f0c25; color: #fff; border-bottom: 2px solid #7f0c25;}
    .sub_wrap_1 .lnb ul li {width:20%;}
    .sub_wrap_2 .lnb ul li {width:25%;}
    .sub_wrap_3 .lnb ul li {width:50%;}
    .sub_wrap_4 .lnb ul li {width:25%;}
    .sub_wrap_5 .lnb ul li {width:33.333%;}
    #sub_tit {display: none;}
}
/* 980px 이하 */
@media screen and (max-width:979px) {
    
	.in_header {height:86px;}
	#header h1 {left:50% !important; top:10px !important; margin-left:-81px !important;}
    #header h1 .s_logo {text-align: center;}
    #header .top_menu > ul {padding:0px 5px;}
	.go_sitemap { display:none;}
	.w_gnb {display:none;}
	#gnb_bar {display:none !important;}
	.m_gnb_on {display:block}
	
	.inner {padding:0px 10px; word-break: keep-all;}
	.main_visual .bxslider li {height:380px;}
	.main_visual .bx-controls {margin-left:130px;}

    #footerW {padding-top: 60px;}
	#footer_add {max-width: 100%; text-align: center; font-size: 12px; padding:20px 10px 10px 10px; background:none;}
    #footer_add .brochure_down {display: none;}
    .footer_menu > ul {text-align: center; font-size: 0px;}
    .footer_menu > ul > li {float: none; line-height:20px; height:20px; display: inline-block; vertical-align: top;}
	.footer_menu > ul > li > a {font-size: 12px;}
    #footer_add .top {top: -110px;}
    
    
	.title_bar {background-size:30% auto !important;}	
    
    #section1 .main_banner {float: none; width:100%; margin-bottom: 10px;}
    #section1 .main_banner > li {width:25%;}
    .main_right {float: none; width:100%;}

	.br_pc {display:none;}

	.member_list .m_box {float: none; width: 100%;}
	.member_list .m_box_in {min-height:auto;}
	

}
/* 768 이하 */
@media screen and (max-width:767px) {
    
	.section {padding:20px 0px;}
	.visual_txt .txt2 {font-size:14px; }
	.m_tit {margin:0px 0px 15px 0px; font-size:25px; }
	.m_tit_txt {font-size:15px;}
	
	#footer_add .tel_fax {display:none;}
	#footer_add span.tel {display:inline-block;}
	#footer_add span.fax {display:inline-block;}
	#footer_add .web_info p {padding:3px 0px; line-height:140%;}
	
	.sub_visual .sub_txt {width:80%; float: none; margin: 0 auto;}
	 .sub_con {min-height:300px; font-size: 13px; padding-bottom: 0px;}
	.title_bar h2 {font-size: 2.2em; padding:6% 0px 2% 0px;}
	
	
	.sub_title {font-size:14px;}
	.of_hi .fl50 {float:none; width:100%;}
	.of_hi .fr50 {float:none; width:100%; margin-top:15px;}
	.business01 ul li {width:33.33%; min-height:150px;}
	.teacher_list > ul > li > a .txt {margin:4px 0px; width:100%; float: none}
	
	.edu_objective.ce {background: none;}
	.objective > li {float: none; width: 100%;}
    .objective > li .in {min-height:auto;}
    .objective > li .in br {display: none;}
    .edu_objective {background: none;}
    .edu_objective > ul {padding-top: 0px;}
    .edu_objective > ul > li { width:100%; margin-bottom: 25px; padding: 0px;}
    .edu_objective > ul > li > .box {min-height:100px;}
    .edu_objective > ul > li > .box .txt_t {padding-top:40px;}
    #section1 .main_banner > li {width:50%;}

    /*atab*/
    .atab li a {font-size:13px;}
	
	.member_list .m_box {float: none; width: 100%;}
	.member_list .m_box_in {min-height: 155px;}

	
	.greeting_wrap .txt2 {font-size: 19px;}

}
/* 600 이하 */
@media screen and (max-width:599px) {
	.main_visual .bxslider li {height:310px;}
	.main_visual .bx-controls {margin-left:0px; width:100%; left:0%;}
	.visual_txt .txt2 .br {display: none;}
	.visual_txt .txt2 {font-size: 12px;}
    #lnb_wrap {background: url(../img/common/png60.png) repeat left top; margin-top: -45px;}
	#w_lnb {display:none;}
	#m_lnb {display:block;}
	#lnb_tit2 {font-size:14px; letter-spacing:-1px; padding:0px 0px 0px 20px; color:#fff; line-height:45px; height:45px; background:url(../img/common/lnb_arrow.png) no-repeat 95% center; cursor:pointer;}
	.lnb:after {clear:both; content:""; display:block;}
	.lnb .lnbs {width:100%; position:relative;}
	.lnb .lnbs .copy_menu {position:absolute; left:0px; top:45px; width:100%; display:none;}
	.lnb ul li {color:#333333; float:none; width:100% !important;}
	.lnb ul li.on {display:none !important;}
	.lnb ul li a {color:#333333; font-size:14px; display:block; line-height:25px; min-height:25px; padding:8px 10px 8px 10px; border-bottom:1px solid #ababab; background:#fff;}
	.lnb ul li a:hover {color:#fff; background:#a22d44;}
	#sub_visual {background-size:cover !important;}
	.sub_visual {height:220px;}
    .greeting_wrap .txt1,
	.greeting_wrap .txt2,
	.engineering_wrap .txt1,
	.graduate_wrap .txt1 {padding-right:0px; max-width: 100%; background: none;}
    .footer_menu > ul {padding:5px 0px;}
    .footer_menu > ul > li {width: 50%; padding: 5px 0px !important; background: none; }
    .footer_menu > ul > li.even {background:url(../img/common/f_line.gif) no-repeat left center;}
    #footer_add .top {top: -130px;}
    .list_btnW {margin: 0px;}
    .ev_tb thead tr th {font-size:13px !important;}
    .ev_tb tbody tr td {font-size:12px !important; line-height:17px !important; height: 50px;}
    .eve_txt a {overflow: hidden;text-overflow: ellipsis; white-space: nowrap;}
    .info_toggle .s_tit {padding-left:10px; }

    .unit_list > li .txt_top {min-height:55px; padding:5px 0px 10px 80px; color: #666666}
    .ev_tb tbody tr td .eve_txt a {font-size:13px;}

	.teacher_list > ul > li > a .txt {margin:4px 0px; width:100%; float: none}
	
	.program_wrap .zoom {width:120px;}
	.program_wrap .zoom li {padding-left:6px; background: url(../img/common/arrow.png) no-repeat 106px 8px;}
    #section1 .main_banner > li {width:100%;}
    #section1 .main_banner > li > a {min-height: auto; padding-bottom: 40px;}
    #section1 .main_banner > li > a > span.more {left: auto; bottom: auto; top: 15px; right: 15px;}
    .board_first {min-height: auto;}
    .board_first > p > a {min-height:40px;  }
    .main_right {padding: 0px;}
    .pop_zone {width: 100%; position: relative; margin: 0 auto;}
    #section2 {background: url(../img/main/section2_bg.jpg) no-repeat center 90px; height: 358px;  padding-top:90px;}
    #section2 .m_tit { padding-top: 0px; margin-top: -90px; color: #333; padding-bottom: 10px;}
    #section2 .m_tit_txt {color: #333;}
    .b_banner {padding-top:30px;}
    .b_banner > li {width:33.33%; padding:15px 0px;}
    .b_banner > li > a {font-size: 14px;}
	
	.over_layerW {position: relative;}
    .over_layer {overflow:auto;}
    .over_layerW:after {display: block; content: ""; width:10px; height: 100%; position: absolute; right: 0px; top: 0px; background: url(../img/common/bg_shadow.png) repeat-y left top}
    .over_layer > div {min-width: 600px;}
	
}



/* 480px 이하 */
@media screen and (max-width:479px) {
	#wrap {padding-top:66px;}
	.m_tit_txt {font-size:14px;}
	.main_visual .bx-controls-direction { display: none;}
	#header {background-position:left -6px; }
	#header .logo {width:110px;}
	#header h1 {width: 110px; text-align: center; margin-left:-55px !important; top:10px !important;}
	.in_header {height: 66px;}
	.m_gnb_on {top:34px;}
	.m_gnb_on img {width:23px;}
	.m_gnb {top:100px;}
	#header .top_menu > ul > li > a {font-size: 12px; line-height: 30px; height: 30px;}
	.main_visual .bxslider li {height:250px;}
    .location {display: none;}
    #footerW {padding-top:30px;}
	#footer_add {font-size: 11px;}
    #footer_add .top {top:-100px;}
	#footer_add .top img {width:30px;}
	.footer_menu > ul > li > a {font-family: nGothic;}
	.sub_visual {height: 180px; padding-bottom: 20px;}
	.subject {padding-left:10px;}
	.bbs_search {margin-bottom:10px;}
	.bbs_search_in {padding:0px;}
	.bbs_search_in .select { position:relative; margin-bottom:5px; width:100%;}
	.bbs_search_in .btn_search { position:relative; display:block; margin:5px 0px 0px 0px; width:100%;}
	.paging a {width:23px;}
	.paging a.prev, .paging a.next, .paging a.first, .paging a.last {width:33px;}
    .block_m {display: block;}
    .block_m.fl {float: none;}
    .list_btn .block_m {margin: 2px 0px;}
	.board-view td.view_td {padding:20px 10px;}
    .list_btnW a {display: block;}
	.title_bar {padding-bottom:10px; margin-bottom:10px;}
	
	.s_tit {margin:35px 0px 10px 0px; font-size: 19px;}
	.ss_tit {margin-top:20px;}
	#inner_wrap {font-size:0.95em;}
	.title_bar h2 {font-size:2em; }
	
	.sub_visual .sub_txt {width:100%;}
	#lnb_wrap.fix {top:156px;}
	.m_th {width:90px !important;}
    
    .menu_btn {height:20px; width:30px;}
    .menu_btn .line-middle {top:8px;}
    .w_date {width:80px;}
    .ev_tb thead tr th {font-size:12px !important;}
    .ev_tb tbody tr td {font-size:11px !important; line-height:17px !important; height:40px;}
    .ev_tb tbody tr td.today .date {background-size:18px auto !important;}

	.teacher_list > ul > li > a .txt {margin:2px 0px; font-size: 12px;}
	.member_list .m_box_in .pic {width: 70px;}
	.member_list .m_box_in .pic img {max-width: 100%;}
	.member_list .m_box_in {padding-left: 90px; font-size:12px;}
	.member_list .m_box_in > ul > li {padding-left: 70px;}
	
	.objective_wrap > dl {float: none; width: 100%;}
	.mission_ul > li {float: none; width: 100%; margin-top: 15px;}
}


.loading_area {position:fixed; width:100%; height:100%; z-index:9999;}
.loading_area #bg {background-color:#000; display:block; height:100%; left:0;  opacity:0.5; filter:alpha(opacity=50); position:fixed; top:0; width:100%; z-index:9999;}
.loading_area .loading_img { position:fixed; left:50%; top:50%;}