@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------
 * Name      : web_layout.css    
 * Desc      : page layout 
 * Created   : 
 * Updated   : 
 ------------------------------------------------------------ */
body.fixe {overflow:hidden; height:100%;}
.m_gnb .sub_menu {display:none !important;}
.web_dis {display:block;}
.mb_dis {display:none;}

/* wrap */
#wrap {width:100%; max-width:2200px; overflow:hidden; margin:0 auto; padding-top:87px;}

#inner_wrap {max-width:1200px; margin:0 auto; position:relative;}
#inner_wrap:after {clear:both; content:""; display:block;}
.inner {max-width:1200px; min-height:200px; margin:0 auto;}
.inner:after { clear: both; content: ""; display: block;}




/* header */
#header {width:100%; position:fixed; left:0px; top:0px; z-index:9999; background:#fff; background: #fff; box-sizing: border-box; border-bottom: 1px solid #ccc;}
/*#wrap #header.bg_on {background:url(../img/common/top_png.png) repeat left top; height:98px;}
#wrap #header.bg_on .top_menu { display:none;}
#wrap #header.bg_on h1 {left:0px; top:19px;}
#header.bg_on h1 .logo {margin-top:-43px;}
*/
#header h1 {position:absolute; overflow:hidden; left:0px; top:10px; transition: all 0.3s 0s ease-in-out;}
#header h1 .s_logo {font-size:12px; color: #333333; font-family: nGothicB; display: block; text-align: right;}
#header .top_menu {z-index: 1; position: relative;}
#header .top_menu > ul {font-size: 0px;}
#header .top_menu > ul:after { clear: both; content: ""; display: block;}
#header .top_menu > ul > li {font-size:13px; float: left; position: relative; padding:0px 15px; background: url(../img/common/top_line.gif) no-repeat left center;}
#header .top_menu > ul > li > a { display: block; color: #fff; font-size: 13px; line-height:36px; height: 36px; text-align: left;}
#header .top_menu > ul > li:first-child {padding-left: 0px; background: none;}



#header .w_gnb {padding:0px 15% 0px 22%;}

.m_gnb_on {position:absolute; right:10px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); display:none;}
.in_header {max-width:1200px; width:100%; margin:0 auto; position:relative; z-index:9}
.go_sitemap {position:absolute; right:0px; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.go_sitemap a { display:block; height:18px; line-height: 17px; padding-left:35px; background: url(../img/common/sitemap.gif) no-repeat left center; font-size:14px; color:#333333;}

/* 전체메뉴 */
.sitemap_wrap {display:none; width:100%; overflow-y:scroll; position:fixed; left:0%; top:0%; bottom:0%; right:0%; margin:0px; z-index:999999; padding:25px 0px; -webkit-overflow-scrolling: touch; background: url(../img/common/png_80.png) repeat left top;}
.sitemap_wrap .sitemap {padding: 7% 0 10%;}
.sitemap_wrap #gnbW {width: 98%; max-width:1011px; margin: 3.214285% auto 2.571428%; cursor: auto; position: relative;}
.sitemap_wrap .sitemap .gnb > ul { text-align:center; overflow:hidden;}
.sitemap_wrap .sitemap .gnb > ul > li {display:inline-block; vertical-align:top; text-align:left; width:129px; min-height:190px; padding:20px 15px;}
.sitemap_wrap .sitemap .gnb > ul > li > a {display:block; line-height:20px; height:35px; font-size:20px; color:#fff; padding-bottom:10px; border-bottom:4px solid #fff; text-align:left;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu {padding:10px 0px 0px 0px; width:100%; height:auto !important; display:block !important; position:relative; left:0px; top:0px;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu li {padding:7px 0px; float:none; font-size:15px;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu li a {color:#fff;}
.sitemap_wrap .sitemap .gnb > ul > li .sub_menu li .br { display:block;}
.sitemap_wrap .close_bt { position:absolute; right:25px; top:25px;}

.sub_sitemap #gnbW {padding:30px 0px 0px 0px;}
.sub_sitemap .gnb > ul {text-align:center; overflow:hidden; font-size:0px;}
.sub_sitemap .gnb > ul > li {float:left; text-align:left; width:20%; box-sizing:border-box; min-height:190px; padding:20px 10px;}
.sub_sitemap .gnb > ul > li > a {display:block; line-height:20px; height:35px; font-size:18px; color:#000; padding-bottom:10px; border-bottom:4px solid #d91b5c; text-align:left;}
.sub_sitemap .gnb > ul > li .sub_menu {padding:10px 0px 0px 0px; width:100%; height:auto !important; display:block !important; position:relative; left:0px; top:0px;}
.sub_sitemap .gnb > ul > li .sub_menu li {padding:7px 0px; float:none; font-size:15px;}
.sub_sitemap .gnb > ul > li .sub_menu li a {color:#333;}
.sub_sitemap .gnb > ul > li .sub_menu li .br { display:block;}


/* GNB */
.w_gnb .gnb {font-family:nGothic; background:#fff; position:relative;}
.w_gnb .gnb:after {content:""; display:block; clear:both;}
.w_gnb .gnb > ul {font-size:0px;}
.w_gnb .gnb > ul:after {content:""; display:block; clear:both;}
.w_gnb .gnb > ul > li {display:inline-block; zoom:1; width:20%; *display:inline; position:relative; text-align:left;}
.w_gnb .gnb > ul > li.gnb04 {width:20%;}
.w_gnb .gnb > ul > li:first-child {background:none;}

.w_gnb .gnb > ul > li > a {display:block; color:#333333; padding-left: 15%;}
.w_gnb .gnb > ul > li > a > span {display:inline-block; font-size:18px; line-height:85px; height:81px; color:#333333; border-bottom:5px solid #fff; transition: all 0.2s 0s ease-in-out;}
.w_gnb .gnb > ul > li:hover > a > span {color:#000; border-bottom:5px solid #7f0c25;}
.w_gnb .gnb > ul > li.on > a > span {color:#000; border-bottom:5px solid #7f0c25;}

.w_gnb .sub_menu  {position:absolute; left:0%; width:100%; box-sizing:border-box; overflow:hidden; top:85px; line-height:20px; display:none; padding:20px 0px;}
.w_gnb .sub_menu > li {padding:2px 10px 2px 15%; letter-spacing:-0.5px;}
.w_gnb .sub_menu > li > a {display:block; font-size:13px; text-align:left; color:#cccccc; padding:3px 0px;  line-height:18px;}
.w_gnb .sub_menu > li > a:hover {color:#fff; font-family:nGothicB; text-decoration: underline;}
.w_gnb .three_depth { display:none;}


#gnb_bar {position:absolute; display:none; left:0%; top:100%; width:100%; background: url(../img/common/png_80.png) repeat left top;}
#gnb_bar .gnb_bar_in {max-width:1200px; height:235px; margin:0 auto; background:url(../img/common/gnb_img.png) no-repeat 2% 30px;}
/*.bg_on #gnb_bar {top:98px;}
.bg_on .w_gnb .gnb > ul > li:hover > a {color:#47c2c2;}
.bg_on .w_gnb .gnb > ul > li.on > a {color:#47c2c2;}
.bg_on .w_gnb .sub_menu {display:none !important;}
.bg_on  #gnb_bar {display:none !important;}*/